

    <body class="sb-nav-fixed">
        <div id="layoutSidenav">
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Productos</h2>
                        <div class="row justify-content-between">
							<div class="col-lg-12">
								<a routerLink = "/products" routerLinkActive = "active" class="add-btn hover-btn">Agregar producto</a>
							</div>
							<div class="col-lg-2 col-md-4">
								<div class="bulk-section mt-30">
									<div class="input-group">
										<select id="action" name="action" class="form-control">
											<option value="1">Todos</option>
											<option selected value="2">Activos</option>
											<option value="3">Inactivos</option>
										</select>
										
									</div>
								</div>
							</div>
							<div class="col-lg-10 col-md-6">
								<div class="bulk-section mt-30">
									<div class="search-by-name-input">
										<input type="text" class="form-control" placeholder="Buscar producto" name="searchprod" placeholder="Buscar empleado" [(ngModel)]="searchprod" >
									</div>
									
								</div>
							</div>
							<div class="col-lg-12 col-md-12">
								<div class="card card-static-2 mt-30 mb-30">
									<div class="card-body-table">
										<div class="table-responsive">
											<table class="table ucp-table table-hover">
												<thead>
													<tr>
														
														<th>id</th>
														<th>Nombre</th>
														<th>FechaDeCreacion</th>
														<th>Precio</th>
														<th>Stock</th>
														<th>Estado</th>
														<th>Acción</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor = "let product of productService.products| filtersearchprod:searchprod">
                                                    
                                                        <td>{{product._id}}</td>
                                                        <td>{{product.Nombre}}</td>
                                                        <td>{{product.FechaDeCreacion}}</td>
                                                        <td>{{product.Precio}}</td>
                                                        <td>{{product.Stock}}</td>
                                                        <td>{{product.Estado}}</td>
                                                        <td class="action-btns">
                                                            <a (click)="editproduct(product)" routerLink = "/products" routerLinkActive = "active" class="edit-btn" title="Editar"><i class="fas fa-edit"></i></a>
                                                            <a (click)="confirmDeleteProduct(product._id)" class="Eliminar-btn" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                                                        </td>
                                                    </tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
                        </div>
					</div>
					
                </main>
               
            </div>
        </div>
       
       
    </body>
