<body class="sb-nav-fixed">
    <div id="layoutSidenav">
        
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h2 class="mt-30 page-title">Empleados</h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card card-static-2 mb-30">
                                <div class="card-title-2">
                                    <h4>Editar empleado</h4>
                                </div>
                                <div class="card-body-table">
                                    <div class="news-content-right pd-20">
                                        <form #employeeForm="ngForm" (ngSubmit) = "updateEmployee(employee)">
                                            
                                            
                                            <div class="form-group">
                                                <label class="form-label">Nombre</label>
                                                <input type="text" class="form-control" name="name" #name = "ngModel" [(ngModel)] = "employee.name">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Apellido</label>
                                                <input type="text" class="form-control" name="lastName" #lastName = "ngModel" [(ngModel)] = "employee.lastName">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Fecha de nacimiento</label>
                                                <input type="text" class="form-control" name="dateOfBirth" #dateOfBirth = "ngModel" [(ngModel)] = "employee.dateOfBirth">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">País</label>
                                                <input type="text" class="form-control" name="country" #country = "ngModel" [(ngModel)] = "employee.country">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Ciudad</label>
                                                <input type="text" class="form-control" name="city" #city = "ngModel" [(ngModel)] = "employee.city">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">DNI</label>
                                                <input type="text" class="form-control" name="dni" #dni = "ngModel" [(ngModel)] = "employee.dni">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Sexo</label>
                                                <input type="text" class="form-control" name="gender" #gender = "ngModel" [(ngModel)] = "employee.gender">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Estado Civil</label>
                                                <input type="text" class="form-control" name="civilStatus" #civilStatus = "ngModel" [(ngModel)] = "employee.civilStatus">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Correo Electronico</label>
                                                <input type="text" class="form-control" name="mail" #mail = "ngModel" [(ngModel)] = "employee.mail">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Telefono</label>
                                                <input type="text" class="form-control" name="phone" #phone = "ngModel" [(ngModel)] = "employee.phone">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Direccion</label>
                                                <input type="text" class="form-control" name="address" #address = "ngModel" [(ngModel)] = "employee.address">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Fecha de ingreso</label>
                                                <input type="text" class="form-control" name="dateOfAdmission" #dateOfAdmission = "ngModel" [(ngModel)] = "employee.dateOfAdmission">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Estado</label>
                                                <select id="status" name="status" class="form-control" name="employeeStatus" #employeeStatus = "ngModel" [(ngModel)] = "employee.employeeStatus">
                                                    <option selected>Activo</option>
                                                    <option value="1">Inactivo</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Puesto</label>
                                                <input type="text" class="form-control" name="position" #position = "ngModel" [(ngModel)] = "employee.position">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Horas de trabajo</label>
                                                <input type="text" class="form-control" name="workHours" #workHours = "ngModel" [(ngModel)] = "employee.workHours">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Turno</label>
                                                <input type="text" class="form-control" name="schedule" #schedule = "ngModel" [(ngModel)] = "employee.schedule">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Horario</label>
                                                <input type="text" class="form-control" name="turn" #turn = "ngModel" [(ngModel)] = "employee.turn">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Sueldo</label>
                                                <input type="text" class="form-control" name="salary" #salary = "ngModel" [(ngModel)] = "employee.salary">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Cargas familiares</label>
                                                <input type="text" class="form-control" name="familyResponsibilities" #familyResponsibilities = "ngModel" [(ngModel)] = "employee.familyResponsibilities">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">CBU</label>
                                                <input type="text" class="form-control" name="cbu" #cbu = "ngModel" [(ngModel)] = "employee.cbu">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Banco</label>
                                                <input type="text" class="form-control" name="bank" #bank = "ngModel" [(ngModel)] = "employee.bank">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Obra social</label>
                                                <input type="text" class="form-control" name="socialWork" #socialWork = "ngModel" [(ngModel)] = "employee.socialWork">
                                            </div>
                                            <button class="save-btn hover-btn" type="submit" >Editar empleado</button>
                                            
                                            <hr>

                                            <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                                                <strong>Empleado actualizado.</strong>
                                                <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                            </form>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
</body>




















